<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>New User - CS Club Online Judge</title>	
	</head>
	
	<body>			
			<main>
				<div id="content">
					<div class="innertube">
						<h1>New User</h1>
						
						<%= form_for @user, url: "/admin/user/new" do |u| %>
							First name: <%= u.text_field(:first_name) %>
							<br> <br>
							Last name: <%= u.text_field(:last_name) %>
							<br> <br>
							Email: <%= u.text_field(:email) %>
							<br> <br>
							Password: <%= u.password_field(:password) %>
							<br> <br>
							<%= u.submit %>
						<% end %>
					</div>
				</div>
			</main>	
	</body>
</html>
