<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>View User - CS Club Online Judge</title>	
	</head>
	
	<body>		
		
		<div id="wrapper">
		
			<main>
				<div id="content">
					<div class="innertube">
						<h1>View User</h1>
						
						<%= form_for @user, url: "/admin/user/view/#{params[:id]}" do |u| %>
							First name: <%= u.text_field(:first_name) %>
							<br> <br>
							Last name: <%= u.text_field(:last_name) %>
							<br> <br>
							Email: <%= u.text_field(:email) %>
							<br> <br>
							Password: <%= u.password_field(:password) %>
							<%= u.submit %>
						<% end %>
						<br>
						<%= button_to "Delete user", "/admin/user/view/#{params[:id]}", method: 'delete', data: {confirm: 'Are you sure?'} %>
						
						<h2>Submissions</h2>
						
						<table>
							<tr>
							<th>Problem</th>
							<th>Runtime</th>
							<th>Result</th>
							<th>Language</th>
							<th>Submission Date</th>
							</tr>
							<% Submission.where(email: @user.email).order(created_at: :desc).each do |sub| %>
							<tr>
							<td><%= sub.problem_name %></td>
							<td><%= sub.runtime %></td>
							<td><%= link_to sub.result, "/admin/submission/view/#{sub.id}" %></td>
							<td><%= sub.language %></td>
							<td><%= sub.created_at.strftime("%Y-%m-%d %k:%M:%S %Z") %></td>
							</tr>
							<% end %>
						</table>
					</div>
				</div>
			</main>
			
			<nav id="nav">
				<div class="innertube">
					<h3>Left heading</h3>
					<ul>
						<li><a href="#">Link 1</a></li>
						<li><a href="#">Link 2</a></li>
						<li><a href="#">Link 3</a></li>
						<li><a href="#">Link 4</a></li>
						<li><a href="#">Link 5</a></li>
					</ul>
					<h3>Left heading</h3>
					<ul>
						<li><a href="#">Link 1</a></li>
						<li><a href="#">Link 2</a></li>
						<li><a href="#">Link 3</a></li>
						<li><a href="#">Link 4</a></li>
						<li><a href="#">Link 5</a></li>
					</ul>
					<h3>Left heading</h3>
					<ul>
						<li><a href="#">Link 1</a></li>
						<li><a href="#">Link 2</a></li>
						<li><a href="#">Link 3</a></li>
						<li><a href="#">Link 4</a></li>
						<li><a href="#">Link 5</a></li>
					</ul>
				</div>
			</nav>
		
		</div>
	
	</body>
