<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Submit - CS Club Online Judge</title>	
	</head>
	
	<body>		
		
		
			<main>
				<div id="content">
					<div class="innertube">
						<h1>Submit</h1>
						<%= form_tag "/problem/#{params[:contest_id]}/#{params[:problem_id]}/submit", :multipart => true do%>
							Language:
							<br>
							<%= select_tag "lang", options_for_select(["C++", "Java","Python 2", "Python 3"]) %>
							<br> <br>
							File:
							<br>
							<%= file_field_tag "file" %>
							<br> <br>
							<%= submit_tag "Submit"%>
						<% end %>
						
						<%= link_to "Cancel", "/problem/#{params[:contest_id]}/#{params[:problem_id]}" %>
					</div>
				</div>
			</main>	
	</body>
</html>
