<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<header id="header">
			<div class="innertube">
				<h1>EOM's CS Club Online Judge</h1>
				<br>
				<% if user_signed_in? %>
					<%= button_to("Logout", destroy_user_session_path, :method => :delete) %>
				<% end %>
			</div>
		</header>

		<div id="wrapper">
		<% flash.each do |name, msg| %>
			<div class="warning"><%= msg %></div>
		<% end %>
    		<%= yield %>
    		
    		<nav id="nav">
				<div class="innertube">
				<br>
				<!-- Sidebar for all users -->
				<ul>
						<li><a href="/quickstart">Quickstart</a></li>
						<li><a href="/faq">FAQ</a></li>
						<li><a href="/About">About</a></li>
				</ul>
				
				<!-- Sidebar for signed in users -->
				<% if user_signed_in? %>
					<h3>User</h3>
					<ul>
						<li><a href="/panel">Contests</a></li>
						<li><a href="/submission">Submissions</a></li>
					</ul>
					
					<!-- Sidebar if current user is admin -->
					<% if current_user.admin? %>
						<h3>Admin</h3>
						<ul>
							<li><a href="/admin/submission">All Submissions</a></li>
							<li><a href="/admin/user">All Users</a></li>
							<li><a href="/admin/contest">All Contests</a></li>
						</ul>
					<% end %>
				<% end %>
				</div>
			</nav>
		</div>
		
		

		<footer id="footer">
			<div class="innertube">
				<p>Made by Peter Zhu using Ruby on Rails. <a href="http://www.github.com/peterzhu2118/onlinejudge/">GitHub.</a></p>
			</div>
		</footer>
  </body>
</html>
