<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<header id="header">
			<div class="innertube">
				<h1>EOM's CS Club Online Judge</h1>
				<br>
				<% if user_signed_in? %>
					<%= button_to("Logout", destroy_user_session_path, :method => :delete) %>
				<% end %>
			</div>
		</header>

		<div id="wrapper">
		<% flash.each do |name, msg| %>
			<div class="warning"><%= msg %></div>
		<% end %>
    		<%= yield %>
		</div>

		<footer id="footer">
			<div class="innertube">
				<p>Made by Peter Zhu using Ruby on Rails. <a href="http://www.github.com/peterzhu2118/onlinejudge/">GitHub.</a></p>
			</div>
		</footer>
  </body>
</html>
